.App {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(180, 180, 180);
}

.Sidebar {
  width: 70%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header - TopBar */

.header {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 30%;
}

.img-container {
  padding-left: 55px;
}

.image {
  height: 40px;
  border-bottom: 1px solid;
}

/* Profile Section */

.ProfileInfo {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Portrait {
  aspect-ratio: 1/1;
  width: 80px;
  border-radius: 3rem;
}

.pen-icon {
  margin-top: 10%;
  margin-left: 90%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 1rem;
}

.ProfileInfo > h2 {
  color: #344150;
  margin-top: -20%;
  margin-bottom: auto;
  font-size: 16px;
  font-weight: 400;
}

.ProfileInfo > h3 {
  color: #4FA9D2;
  font-size: 11px;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: 3px;
}

.ProfileInfo > span {
  font-size: 11px;
  margin-bottom: 2px;
}

.companyBtn {
  background-color: #3F87A8;
  color: white;
  height: 2.5vh;
  width: 185px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 5px;
  border: none;
  font-size: 11px;
}

/* CTA - center functionalities of the side bar */

.option-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
  padding-left: 35px;
}

.option-container > section {
  padding-top: 5px;
  display: flex;
  height: 5vh;
  align-items: center;
}

.option-name {
  padding-left: 20px;
  font-weight: 100;
  font-size: 14px;
  color: #344150;
}


.line {
  margin-top: 15px;
  content: "";
  width: 240px;
  height: 1px;
  background-color: #3F87A8;;
}

/* Logout Button */

.logoutBtn {
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #3F87A8;
  color: white;
  border-radius: 5px;
  height: 6vh;
  min-width: 50%;
  border: none;
  margin-top: 20px;
}

.logoutBtn > h4 {
  padding-left: 8px;
  font-weight: 100;
}